# ignore everything other than bin and dotfiles
/*
!.*
!/bin

# ... and ignore this stuff

/.emacs.d/*
!/.emacs.d/init.el

.DS_Store
/.*.history
/.*_history
/.CFUserTextEncoding
/.Trash/
/.account
/.bundler/
/.cache/ctrlp/
/.chef/
/.cups/lpoptions
/.dbshell
/.dropbox/
/.erlang.cookie
/.gem/
/.ghc/ghci_history
/.heroku/credentials
/.ido.last
/.jenkins/jenkinsrb-config.json
/.lesshst
/.m2/
/.netrc
/.npm/
/.pgpass
/.recentf
/.ssh/
/.vim/.netrwhist
/.viminfo
